---
import { Icon } from 'astro-icon';
import Logo from '../Logo.astro';
import Button from './button.astro';

const social = [
    { label: 'LinkedIn', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/bipradeep-saha/', color: 'text-blue-500' },
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/sparxastronomy/', color: 'text-green-600' },
	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/bipradeep_saha', color: 'text-blue-400' },
	{ label: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://www.instagram.com/sparxastronomy/', color: 'text-pink-400' },
	{ label: 'Facebook', icon: 'tabler:brand-facebook', href: '#', color: 'text-sky-600' },
];

---

<!-- Design a cool and minimal footer with contact and share options -->
<footer>
    <div class="bg-white dark:bg-dark-b">
        <div class="bg-no-repeat bg-center bg-[url('/Logo_gen.svg')]">    
            <div class="backdrop-filter backdrop-blur-[0.8em] bg-opacity-50 bg-white dark:bg-dark-b dark:bg-opacity-50 dark:text-slate-200">
                <!-- add a separating line -->
                <div class="h-[0.15em] bg-gradient-to-r from-rose-400 to-orange-300 mx-5 sm:mx-8 rounded-full"></div>
                
                <!-- Div containing the Footer contents -->
                <div class="w-4/5 md:w-3/4 mx-auto py-4 px-2 grid-rows-2 gap-8 lg:grid-rows-none lg:grid lg:grid-flow-col lg:grid-cols-2 col-auto lg:gap-8">    
                    <!-- Contacts and Social -->
                    <div class="flex flex-col w-auto">
                        <h3 class="text-center font-bold font-porza">
                            Contacts and Social
                        </h3>
                        <p class="text-justify flex-wrap font-lora italic">
                            Fastest way to reach me is through Email or LinkedIn. You can also find me on Twitter and Instagram.
                        </p>
                        <!-- Email Me Link  -->
                        <a href="mailto:bipradeepsaha04@gmail.com" class="inline-flex tracking-wide underline underline-offset-[3px]">
                                <Icon name="tabler:mail" class="w-8 h-8 transform hover:rotate-[-10deg] hover:scale-110 transition"/>
                                <span class="pl-3 font-medium">
                                </span>     
                                <p class="font-porza">Email me</p>
                        </a>

                        <!-- Add a row of social media icons and their links -->
                        <div>
                            <ul class="flex justify-start w-3/4">
                                {
                                    social.map(({label, href, icon, color}) => (
                                        <li class="inline-block pr-6">
                                            <a href={href} aria-label={label} class={color}>
                                                <Icon name={icon} class="w-8 h-8 transform hover:rotate-[-10deg] hover:scale-110 transition" />    
                                            </a>
                                        </li>
                                    ))   
                                }
                            </ul>
                        </div>
                    </div>

                    <!-- Quick Links to CV and Publications -->
                    <div class="flex flex-col mt-4 lg:mt-0">
                        <h3 class="text-center font-bold font-porza">
                            Quick Links
                        </h3>
                        <!-- Add a link to CV and Publications-->
                        <div>
                            <ul class="space-y-6 flex-col font-porza">
                                <li class="flex">
                                    <Icon  name="ic:round-keyboard-double-arrow-right" class="w-7 h-7" optimize={false} />
                                    <Button link='/BipradeepSaha_Curriculum_Vitae.pdf' label='Resume'></Button>
                                </li>
                                <li class="flex">
                                    <Icon  name="ic:round-keyboard-double-arrow-right" class="w-7 h-7" optimize={false} />
                                    <Button link='#' label='Publications'></Button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Brief About me -->
                    <!-- <div class="flex flex-col lg:mg-0">
                        <h3 class="font-porza font-bold">
                            About Me
                        </h3>
                        <p class="text-justify font-lora italic">
                            Bipradeep Saha is a fourth year undergraduate at IISER-Kolkata. His interest lies in Computational Cosmology and Quantitative fincance and using Machine learning in Astronomy. Apart from this he is a photographer with interests in abstract and natural arts.
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>