---
import Layout from '../../../layouts/Page.astro'
import {generateTagData} from '../../../utils/helpers.js'


export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.mdx');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
  const allCategoriesUnique = new Set();
  
  sortedPosts.forEach(post => {
    post.frontmatter.tags && post.frontmatter.tags.map(tag => {
      allCategoriesUnique.add(tag);
    })
  })
  
  const allCategoriesData = generateTagData(allCategoriesUnique);
   // map through the categories array
  return allCategoriesData.map((tag) => {
    // filter the posts that match the given category
    const posts = sortedPosts.filter((post) => post.frontmatter.tags.includes(tag.title))
      return {
      params: {slug: tag.slug}, 
      props: {
        tag: tag.title, 
        posts: posts
      }
    };
  });
}

const {tag, posts} = Astro.props;

const seo ={
  title: `${tag} | Sparxastronomy`,
}
---

<Layout seo={seo}>
  <div class="w-5/6 md:w-3/4 min-h-[40vh] pt-4 justify-center items-center font-sans">
    <h2 class="tracking-wide">Projects taged with "{tag}"</h2>
    <ul class="list-disc list-inside pl-4">
      {posts.map(post => (
        <li><a href={post.url}>{post.frontmatter.title}</a></li>
      ))}
    </ul>
  </div>
</Layout>
