---
import { Container } from '@littlesticks/odyssey-theme-components';
import Layout from './Page.astro'; 
import { generateTagData } from '../utils/helpers';
import { Image } from '@astrojs/image/components';
import Picture from '../components/widgets/blogImage.astro';

const {content: {title, description, publishDate, canonicalURL, featuredImage, tags} } = Astro.props;

let allTagsData = [];

if(tags && tags.length > 0){
  allTagsData = generateTagData(tags);
}

const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};
---
<Layout seo={seo}> 
  <div class="flex flex-col justify-center items-center px-4 font-body">
    <!-- Tags -->
    <div class="pt-4">
      <ul class="flex flex-row flex-wrap px-2 justify-between">
      {allTagsData.map(tag => (
        <li class="flex mx-2 px-2 py-2 rounded-xl bg-trust-50 dark:bg-gray-700 shadow-lg border-1 hover:-translate-y-2 transition-transform ease-out duration-500 hover:shadow-trust-400">
          <a href={`/research/tags/${tag.slug}`}>
            {tag.title}
          </a>
        </li>
      ))}
      </ul>
    </div>
    
    <!-- Post content -->
    <div class="flex flex-col md:px-2 md:w-3/4 justify-center items-center pt-4">
      <!-- div containing the tile and featured image -->
      <div>
        <h1 class="text-center">{title}</h1>
        <h4 class="text-center">{publishDate}</h4>
        <div class="flex text-center justify-center mx-auto px-4">
          <!-- <img class='overflow-hidden rounded-xl' src={featuredImage} alt={title} /> -->
          { featuredImage &&
            <Image
              src={featuredImage}
              alt={title}
              class="overflow-hidden rounded-xl"
              width={800}
              aspectRatio={16/10}
              sizes="(max-width: 800px) 100vw, 800px"
              loading="lazy"
              quality={100}
              format="webp"
              />
          }
        </div>
      </div>

      <!-- div containing the post -->
      <div class="px-2 text-justify">
        <div class="py-2 md:text-xl">
          <article id="article" class='post-content'>
            <slot></slot>
          </article>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  /* Auto resize the image */
  img {
      width: 100%;
      height: auto;
      max-width: 1000px;
  }
</style>